/* latin */

* {
    font-family: 'Pacifico', cursive;
}

.body {
    background-image: url(./img/bg.jpg);
    position: fixed;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -100;
    background-size: cover;
}

.container {
    width: 450px;
    height: 450px;
    display: block;
    margin: 25px auto;
    position: relative;
}

#cvs {
    position: absolute;
    border: 1px solid #000;
    background-color: white;
}

.options {
    position: absolute;
    width: 450px;
    height: 450px;
}

.options h1 {
    text-align: center;
    font-size: 70px;
    color: rgb(0, 229, 255);
    margin-top: 0;
    margin-bottom: 0;
}

.options h2 {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.options div {
    display: inline-block;
}

.options .computer,
.x {
    padding: 5px;
    background-color: #FFF;
    color: #000;
    font-size: 1.5em;
    border-radius: 5px;
    margin-left: 70px;
    width: 150px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #000;
}

.options .friend,
.o {
    padding: 5px;
    background-color: #FFF;
    color: #000;
    font-size: 1.5em;
    border-radius: 5px;
    margin-left: 10px;
    width: 150px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #000;
}

.options .friend:hover,
.computer:hover,
.x:hover,
.o:hover {
    background-color: rgb(0, 229, 255);
    color: #FFF;
}

.options .play {
    font-size: 1.5em;
    width: 150px;
    display: block;
    margin: 15px auto;
    border-radius: 5px;
    border: 1px solid #011627;
    text-align: center;
    padding: 10px;
    background-color: rgb(0, 229, 255);
    color: #FFF;
    cursor: pointer;
    transition: 100ms width ease-in;
}

.options .play:hover {
    width: 200px;
    background-color: rgb(255, 95, 148);
}

.active {
    background-color: rgb(255, 95, 148) !important;
    color: #FFF !important;
}

.hide {
    display: none;
}

.gameover {
    position: absolute;
    width: 450px;
    height: 450px;
    background-color: white;
}

.gameover h1 {
    text-align: center;
    font-size: 50px;
    color: black;
    margin: 40px 0 20px 0;
}

.gameover .winner-img {
    display: block;
    margin: 20px auto;
}

.gameover .play {
    width: 300px;
    display: block;
    margin: 25px auto;
    border-radius: 8px;
    border: 5px solid black;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: 100ms width ease-in;
}

.gameover .play:hover {
    width: 350px;
    background-color: rgb(255, 95, 148);
}